# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

############
# FLASK
############

# Virtual Environment
venv

# bin files
__pycache__/
*.py[cod]
*$py.class

# pytest files
.pytest_cache/

# instance folder for runtime files
flask-server/instance/*.db
flask-server/instance/*.log
flask-server/instance/*.log*

# env file
.env
server/migrations/
server/project/views/